body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection:hover {
    transform: scale(1.2);
}

.results {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}